@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Campos Dealer - Teste de Conhecimento</p>
    <br />
    <br />
    <br />
    <h1> Sistema de Gerencimento de Vendas, Produtos e Clientes</h1>
    <br />
    <br />
    <br />
    <h2> Carlos Alberto de Lima</h2>
    <br />
    <br />
    <br />


    <div>
    <a href="https://github.com/CAL4025">
    </div>
    <div style="display: inline_block"><br>
      <img align="middle" alt="Carlos-Js" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
      <img align="middle" alt="Carlos-HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
      <img align="middle" alt="Carlos-CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
      <img align="middle" alt="Carlos-Csharp" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg">
      <img align="middle" alt="Carlos-DotNet" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dotnetcore/dotnetcore-original.svg">
    </div>
    <br />
    <br />
    <br />
    <div> 
      <a href="https://www.linkedin.com/in/carlos-alberto-de-lima-a64221137/" target="_blank"><img src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a> 
    </div>
</div>
